@model FrontendDTO.EventRealLife

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ExtraInfo" class="control-label"></label>
    <input asp-for="ExtraInfo" class="form-control" />
    <span asp-validation-for="ExtraInfo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HappeningDate" class="control-label"></label>
    <input asp-for="HappeningDate" class="form-control" />
    <span asp-validation-for="HappeningDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Place" class="control-label"></label>
    <input asp-for="Place" class="form-control" />
    <span asp-validation-for="Place" class="text-danger"></span>
</div>
